html, body {
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

body {
	font-family: Candara, Helvetica, sans-serif;
	background-color: #111;
	color: #EEE;
	display: flex;
}

.future-gradient { background-image: linear-gradient(#13a084, #154bb7, #3c1be4, #9611ee, #cd18ac); }

br { line-height: 100%; }

#left-trim {
	height:100vh;
	width: 2%;
	margin-left: 8%;
}

#center-column {
	height:100vh;
	width: 80%;
	display: flex;
}

#right-trim {
	height:100vh;
	width: 2%;
}

#sidebar {
	width: 16%;
	height: 100%;
	display: flex;
}

#about-me {
	width: 100%;
	height: 100%;
	margin-left: 10px;
}

#separator-vertical {
	width: 3px;
	height: 90vh;
	margin-top: 5vh;
	margin-left: 10px;
	float: left;
}

.separator-horizontal {
	width: 60%;
	height: 3px;
	margin-left: 20%;
	background-color: #1b84c4;
}

#main {
	margin-left: 10px;
}

i.scaps {
	font-style: normal;
	font-variant: small-caps;
}
