html, body {
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

body {
	font-family: Candara, Helvetica, sans-serif;
	background-color: #111;
	color: #DDD;
	display: flex;
}

strong.high {
	color: #9CF;
	font-weight: 800;
}

strong.medium {
	color: #CFF;
	font-weight: 600;
}

.future-gradient { background-image: linear-gradient(#13a084, #154bb7, #3c1be4, #9611ee, #cd18ac); }

br { line-height: 100%; }

#left-trim {
	height:100vh;
	width: 2%;
	margin-left: 8%;
}

#center-column {
	height:100vh;
	width: 80%;
	display: flex;
}

#right-trim {
	height:100vh;
	width: 2%;
}

#sidebar {
	width: 16%;
	height: 100%;
	display: flex;
}

#sidebar-vertical {
	width: 100%;
	height: 100%;
	margin-left: 10px;
}

#about-me {
	width: 100%;
	height: 86%;
}

#button-fr {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	width: 80%;
	height: 10%;
	margin: 2% 10%;
	transition: 0.3s;
	font-variant: small-caps;
	font-size: 25px;
	cursor: pointer;
}

#button-fr:hover { background-color: #400080; }

#separator-vertical {
	width: 3px;
	height: 90vh;
	margin-top: 5vh;
	margin-left: 10px;
	float: left;
}

.separator-horizontal {
	width: 60%;
	height: 3px;
	margin-left: 20%;
	background-color: #1b84c4;
}

#main {
	margin-left: 10px;
	width: 84%;
	height: 100%;
}

#top-bar {
	width: 100%;
	height: 12%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

#top-bar-button-holder {
	width: 100%;
	height: 95%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	padding-bottom: 10px;
}

.top-bar-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18%;
	height: 90%;
	margin: 1%;
	transition: 0.3s;
	font-variant: small-caps;
	font-size: 25px;
	cursor: pointer;
}

#button-edu:hover { background-color: #008080; }
#button-xps:hover { background-color: #004080; }
#button-rea:hover { background-color: #000080; }
#button-skl:hover { background-color: #400080; }
#button-ctm:hover { background-color: #800080; }

#text-container {
	height: 80%;
	width: 90%;
	margin: 4% 5%;
	font-size: 17px;
}

i.scaps {
	font-style: normal;
	font-variant: small-caps;
}

i.date {
	font-style: bold;
	font-variant: small-caps;
	font-size: 20px;
	margin-left: 2em;
	line-height: 1.5;
	color: #CAF;
	font-weight: 900;
}	

hr {
	width: 50%;
	text-align: left;
	margin-left: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}
